<h1>
	Welcome To Result Management System
</h1>
<div class="teachLog">
    
    <button class="btn">
        <a href="/teacher/viewall">View All Students</a>
    </button>
    <button class="btn">
        <a href="/teacher/add">Add Student</a>
    </button>


    
</div>
